/* Fonts */

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    url("../fonts/poppins-regular.woff2") format("woff2"),
    url("../fonts/poppins-regular.woff") format("woff");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
    url("../fonts/poppins-medium.woff2") format("woff2"),
    url("../fonts/poppins-medium.woff") format("woff");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    url("../fonts/poppins-bold.woff2") format("woff2"),
    url("../fonts/poppins-bold.woff") format("woff");
}

@font-face {
  font-family: "Cormorant Garamond";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src:
    url("../fonts/cormorantgaramond-semibold.woff2") format("woff2"),
    url("../fonts/cormorantgaramond-semibold.woff") format("woff");
}

@font-face {
  font-family: "Cormorant Garamond";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    url("../fonts/cormorantgaramond-bold.woff2") format("woff2"),
    url("../fonts/cormorantgaramond-bold.woff") format("woff");
}

@font-face {
  font-family: "Cormorant Garamond";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src:
    url("../fonts/cormorantgaramond-bolditalic.woff2") format("woff2"),
    url("../fonts/cormorantgaramond-bolditalic.woff") format("woff");
}
