.page {
  height: 100%;
}

.body {
  min-height: 100%;
  font-family: "Poppins", "Arial", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  margin: 0;
  padding: 0;
  background-color: $main-color;
  color: $text-color;
  overflow-x: hidden;
  position: relative;
}

footer {
  grid-row: 3/4;
}

.body-lock {
  width: 100%;
  overflow-y: scroll;
  position: fixed;
}

img {
  max-width: 100%;
}

a {
  color: $text-color;
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.block-heading {
  font-family: "Cormorant Garamond", "Arial", sans-serif;
  font-size: 34px;
  letter-spacing: 0.03em;
  text-align: center;
}

.block-link {
  width: max-content;
  margin: 0 auto;
  display: block;
  font-size: 16px;
  border-bottom: 1px solid $excretion-color;
  text-align: center;
  transition-duration: 0.3s;

  &:hover,
  &:active {
    transform: scale(1.1, 1.1);
  }
}

button {
  text-decoration: none;
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  color: $text-color;
  font-family: "Poppins", "Arial", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  border: none;
  background-color: inherit;
  cursor: pointer;
  transition-duration: 0.3s;
}

.container {
  max-width: 1170px;
  padding: 0 98px;
  margin: 0 auto;

  @media (max-width: $tablet-width) {
    padding: 0 45px;
  }

  @media (max-width: $mobile-width) {
    padding: 0 15px;
  }
}

.accordion .question__text {
  display: block;
}

.accordion--close .question__text {
  display: none;
}
