// Colors

$main-color: #ffffff;
$text-color: #1D1613;
$data-color: #9B9997;
$excretion-color: #A87B62;
$blog-background: #F0EAE4;
$footer-background: #000000;

// Viewports

$tablet-width: 1023px;
$mobile-width: 767px;
