.blog {
  padding-top: 92px;

  .wrap {
    padding-top: 65px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-gap: 30px;
  }

  @media (max-width: $tablet-width) {
    padding-top: 41px;

    .wrap {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: center;
    }
  }

  @media (max-width: $mobile-width) {
    padding-top: 29px;

    .block-heading {
      margin-bottom: 32px;
    }

    .wrap {
      padding-top: 54px;
    }
  }
}

.blog__card {
  max-width: 570px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

  &--trends {
    height: 630px;
    grid-column: 2/3;
    grid-row: 1/3;
  }

  @media (max-width: $tablet-width) {
    max-width: none;
    width: 100%;
    margin-bottom: 20px;

    &--trends {
      height: 300px;
    }
  }

  @media (max-width: $mobile-width) {
    height: 512px;
    margin-bottom: 10px;
    flex-direction: column;

    &:nth-of-type(2) {
      .blog__wrap {
        order: 2;
      }
    }
  }
}

.blog__wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
  background-color: $blog-background;

  span {
    padding-top: 66px;
    font-size: 14px;
    color: $data-color;
  }

  h3 {
    width: 80%;
    margin: 20px auto;
    margin-top: -42px;
    font-family: "Cormorant Garamond", "Arial", sans-serif;
    font-weight: 600;
    font-size: 26px;
    line-height: 130%;
    color: $footer-background;
  }

  a {
    margin-top: -40px;
  }

  &--trends {
    max-width: 285px;
    height: 300px;
    position: absolute;
    bottom: 0;
    right: 0;

    h3 {
      margin-top: -58px;
    }

    a {
      margin-top: -57px;
    }
  }

  @media (max-width: $tablet-width) {
    &--trends {
      position: relative;
      max-width: none;

      span {
        padding-top: 83px;
      }

      h3 {
        margin-top: -52px;
      }

      a {
        margin-top: -47px;
      }
    }
  }

  @media (max-width: $mobile-width) {
    flex-direction: column;
    align-items: center;
    justify-content: start;

    span {
      padding-top: 44px;
    }

    h3 {
      margin-top: 12px;
    }

    a {
      margin-top: 20px;
    }

    &--trends {
      height: 256px;

      span {
        padding-top: 60px;
      }

      h3 {
        margin-top: 12px;
      }

      a {
        margin-top: 20px;
      }
    }
  }
}

.blog__img {
  width: 100%;
  height: 100%;
  background-color: $blog-background;
  background-repeat: no-repeat;
  background-size: cover;

  &--care {
    background-image: url("../img/index/blog-care.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/index/blog-care2x.jpg");
    }
  }

  &--power {
    background-image: url("../img/index/blog-power.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/index/blog-power2x.jpg");
    }
  }

  &--trends {
    background-image: url("../img/index/blog-trends.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/index/blog-trends2x.jpg");
    }
  }

  @media (max-width: $mobile-width) {
    &--trends {
      height: 256px;
    }
  }
}
