.modal {
  width: 100%;
  height: 100%;
  overflow-y: scroll;

  position: fixed;
  left: 50%;
  transform: translate(-50%);
  z-index: 3;

  background-color: $main-color;
}

.modal__close {
  position: absolute;
  width: 14px;
  height: 14px;
  top: 0;
  right: 0;
  border: none;
  cursor: pointer;
  background-color: transparent;

  outline: none;

  &:focus {
    outline: -webkit-focus-ring-color auto 1px;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 27px;
    left: -23px;
    width: 20px;
    height: 1px;
    background-color: $text-color;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  @media (max-width: $tablet-width) {

    &::before,
    &::after {
      top: 28px;
      left: -28px;
      width: 24px;
    }
  }

  @media (max-width: $mobile-width) {

    &::before,
    &::after {
      top: 21px;
      left: -18px;
      width: 20px;
    }
  }
}
