.products {
  &--index {
    padding-top: 105px;
    position: relative;
  }

  .block-heading {
    margin-bottom: 35px;
    letter-spacing: 0;
  }

  @media (max-width: $tablet-width) {
    &--index {
      padding-top: 55px;
    }

    .block-heading {
      margin-bottom: 33px;
    }
  }

  @media (max-width: $mobile-width) {
    &--index {
      padding-top: 45px;
    }

    .block-heading {
      margin-bottom: 31px;
    }
  }
}

.products__button {
  position: absolute;
  width: 29px;
  height: 9px;
  top: 55px;
  cursor: pointer;

  &--preview {
    left: 0;
  }

  &--next {
    right: 0;
  }

  @media (max-width: $mobile-width) {
    display: none;
  }
}

.products--catalog .products__list {
  margin-top: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;

  @media (max-width: $tablet-width) {
    padding-left: 0;
    padding-top: 49px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 40px;
  }
}

.products--catalog .products__item {
  flex-basis: 32%;
  margin-right: -10px;
  margin-left: 6px;
  margin-bottom: 20px;

  p {
    margin-left: -9px;
  }

  @media (max-width: $tablet-width) {
    flex-basis: 30%;
    margin-left: 0;
    margin-right: 0;

    p {
      margin-left: 0;
    }

    img {
      min-width: 206px;
      min-height: 208px;
    }
  }

  @media (max-width: $mobile-width) {
    flex-basis: 45%;
    margin-bottom: 10px;

    img {
      min-width: 130px;
      min-height: 136px;
    }
  }
}

.products__item {
  list-style: none;

  img {
    height: auto;
  }

  p {
    text-align: center;
  }

  br {
    display: none;
  }

  span {
    padding-top: 5px;
    display: block;
    font-weight: bold;
    font-size: 14px;
  }

  @media (max-width: $mobile-width) {
    p {
      margin-top: 12px;
      margin-right: 0;
    }

    br {
      display: block;
    }
  }
}
