.purchases {
  margin-left: auto;
  font-size: 14px;
  line-height: 21px;

  a {
    display: inline-block;
    margin-left: 35px;
    vertical-align: baseline;
    transition-duration: 0.3s;

    &:hover,
    &:active {
      transform: scale(1.1, 1.1);
    }

    &:hover svg,
    &:active svg {
      opacity: 0.6;
    }
  }

  svg {
    display: none;
  }

  @media (max-width: $tablet-width) {
    margin-left: 0;
    order: 2;

    a {
      margin-left: 0;
      padding-top: 6px;
      display: block;
      font-size: 18px;
      line-height: 130%;
      color: $main-color;
    }

    span {
      display: none;
    }

    svg {
      display: block;
      position: absolute;
      top: 54px;
      right: 43px;
      stroke: $main-color;
    }
  }

  @media (max-width: $mobile-width) {
    a {
      padding-top: 0;
    }

    svg {
      width: 19px;
      height: 18px;
      top: 37px;
      right: 15px;
    }
  }
}
