.question {
  padding-top: 105px;

  @media (max-width: $tablet-width) {
    padding-top: 35px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 23px;

    .block-heading {
      line-height: 130%;
    }
  }
}

.question__list {
  width: 83%;
  padding-top: 31px;
  margin: 0 auto;
  padding-left: 0;

  @media (max-width: $tablet-width) {
    width: 100%;
  }

  @media (max-width: $mobile-width) {
    padding-top: 0;
  }
}

.question__item {
  list-style: none;
  border: 1px solid $excretion-color;
  box-sizing: border-box;
  position: relative;
  transition-duration: 0.3s;

  br {
    display: none;
  }

  p {
    width: 54%;
    margin-top: 7px;
    padding-left: 50px;
    padding-bottom: 25px;
  }

  @media (max-width: $tablet-width) {
    p {
      width: 85%;
      margin-top: 25px;
      padding-left: 49px;
      padding-bottom: 29px;
    }
  }

  @media (max-width: $mobile-width) {
    br {
      display: block;
    }

    p {
      width: 72%;
      margin-top: 15px;
      padding-left: 24px;
      padding-bottom: 7px;
      font-size: 14px;
      line-height: 140%;
    }
  }
}

.question__heading {
  padding-left: 43px;
  padding-top: 26px;
  padding-bottom: 28px;
  min-height: 111px;
  width: 100%;
  font-family: "Poppins", "Arial", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;
  color: $text-color;
  border: none;
  outline: none;
  background-color: $main-color;
  text-align: left;
  transition-duration: 0.3s;

  &:hover,
  &:active {
    opacity: 0.6;
  }

  &:focus {
    outline: 1px solid $text-color;
  }

  @media (max-width: $tablet-width) {
    padding-left: 49px;
  }

  @media (max-width: $mobile-width) {
    min-height: 81px;
    padding-left: 24px;
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 16px;
    line-height: 140%;
  }
}

.question__heading--close {
  display: block;
  border: none;
  cursor: pointer;
  background-color: inherit;


  outline: none;

  &::after {
    content: "";
    position: absolute;
    top: 48px;
    right: 49px;
    width: 17px;
    height: 10px;
    background-image: url("../img/icons/arrow-bottom_icon.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  @media (max-width: $tablet-width) {
    &::after {
      width: 25px;
      height: 14px;
      top: 47px;
      right: 48px;
    }
  }

  @media (max-width: $mobile-width) {
    &::after {
      width: 22px;
      height: 13px;
      top: 22px;
      right: 23px;
    }
  }
}


.question__heading--open {
  min-height: max-content;
  padding-top: 43px;
  padding-bottom: 2px;

  display: block;
  border: none;
  cursor: pointer;
  background-color: inherit;


  outline: none;

  &::after {
    content: "";
    position: absolute;
    top: 48px;
    right: 49px;
    width: 17px;
    height: 10px;
    background-image: url("../img/icons/arrow-top_icon.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  @media (max-width: $tablet-width) {
    &::after {
      width: 25px;
      height: 14px;
      top: 47px;
      right: 48px;
    }
  }

  @media (max-width: $mobile-width) {
    padding-left: 24px;
    padding-top: 13px;

    &::after {
      width: 22px;
      height: 13px;
      top: 22px;
      right: 23px;
    }
  }
}
