.spreading-page {
  padding-top: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  a {
    flex-basis: 100%;
    padding-bottom: 20px;
    display: block;
    text-align: center;
    transition-duration: 0.3s;

    &:hover,
    &:active {
      transform: scale(1.1, 1.1);
    }
  }
}
